<%- include('header') %>
<!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shop</h4>
                        <div class="breadcrumb__links">
                            <a href="./index.html">Home</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="shop__sidebar">
                        <div class="shop__sidebar__search">
                            <form action="#">
                                <input type="text" placeholder="Search...">
                                <button type="submit"><span class="icon_search"></span></button>
                            </form>
                        </div>
                        <div class="shop__sidebar__accordion">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__categories">
                                                <ul class="nice-scroll">
                                                    <li><a href="#">Men (20)</a></li>
                                                    <li><a href="#">Women (20)</a></li>
                                                    <li><a href="#">Bags (20)</a></li>
                                                    <li><a href="#">Clothing (20)</a></li>
                                                    <li><a href="#">Shoes (20)</a></li>
                                                    <li><a href="#">Accessories (20)</a></li>
                                                    <li><a href="#">Kids (20)</a></li>
                                                    <li><a href="#">Kids (20)</a></li>
                                                    <li><a href="#">Kids (20)</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseTwo">Branding</a>
                                    </div>
                                    <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__brand">
                                                <ul>
                                                    <li><a href="#">Louis Vuitton</a></li>
                                                    <li><a href="#">Chanel</a></li>
                                                    <li><a href="#">Hermes</a></li>
                                                    <li><a href="#">Gucci</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseThree">Filter Price</a>
                                    </div>
                                    <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__price">
                                                <ul>
                                                    <li><a href="#">$0.00 - $50.00</a></li>
                                                    <li><a href="#">$50.00 - $100.00</a></li>
                                                    <li><a href="#">$100.00 - $150.00</a></li>
                                                    <li><a href="#">$150.00 - $200.00</a></li>
                                                    <li><a href="#">$200.00 - $250.00</a></li>
                                                    <li><a href="#">250.00+</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseFour">Size</a>
                                    </div>
                                    <div id="collapseFour" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__size">
                                                <label for="xs">xs
                                                    <input type="radio" id="xs">
                                                </label>
                                                <label for="sm">s
                                                    <input type="radio" id="sm">
                                                </label>
                                                <label for="md">m
                                                    <input type="radio" id="md">
                                                </label>
                                                <label for="xl">xl
                                                    <input type="radio" id="xl">
                                                </label>
                                                <label for="2xl">2xl
                                                    <input type="radio" id="2xl">
                                                </label>
                                                <label for="xxl">xxl
                                                    <input type="radio" id="xxl">
                                                </label>
                                                <label for="3xl">3xl
                                                    <input type="radio" id="3xl">
                                                </label>
                                                <label for="4xl">4xl
                                                    <input type="radio" id="4xl">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseFive">Colors</a>
                                    </div>
                                    <div id="collapseFive" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__color">
                                                <label class="c-1" for="sp-1">
                                                    <input type="radio" id="sp-1">
                                                </label>
                                                <label class="c-2" for="sp-2">
                                                    <input type="radio" id="sp-2">
                                                </label>
                                                <label class="c-3" for="sp-3">
                                                    <input type="radio" id="sp-3">
                                                </label>
                                                <label class="c-4" for="sp-4">
                                                    <input type="radio" id="sp-4">
                                                </label>
                                                <label class="c-5" for="sp-5">
                                                    <input type="radio" id="sp-5">
                                                </label>
                                                <label class="c-6" for="sp-6">
                                                    <input type="radio" id="sp-6">
                                                </label>
                                                <label class="c-7" for="sp-7">
                                                    <input type="radio" id="sp-7">
                                                </label>
                                                <label class="c-8" for="sp-8">
                                                    <input type="radio" id="sp-8">
                                                </label>
                                                <label class="c-9" for="sp-9">
                                                    <input type="radio" id="sp-9">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseSix">Tags</a>
                                    </div>
                                    <div id="collapseSix" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__tags">
                                                <a href="#">Product</a>
                                                <a href="#">Bags</a>
                                                <a href="#">Shoes</a>
                                                <a href="#">Fashio</a>
                                                <a href="#">Clothing</a>
                                                <a href="#">Hats</a>
                                                <a href="#">Accessories</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="shop__product__option">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__left h-10">
                                    <p class="mt-2">Showing 1–12 of 126 results</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div id="toast"
                                class="fixed top-5 right-5 flex w-fit items-center gap-2 rounded-lg bg-black px-3 py-2 shadow-lg opacity-0 transition-all duration-500 ease-in-out">
                                <img class="h-8 w-8" id="icon" alt="svgImg"
                                    src="data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjNDBDMDU3IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciICB2aWV3Qm94PSIwIDAgNTAgNTAiIHdpZHRoPSI1MHB4IiBoZWlnaHQ9IjUwcHgiPjxwYXRoIGQ9Ik0yNSwyQzEyLjMxOCwyLDIsMTIuMzE4LDIsMjVjMCwxMi42ODMsMTAuMzE4LDIzLDIzLDIzYzEyLjY4MywwLDIzLTEwLjMxNywyMy0yM0M0OCwxMi4zMTgsMzcuNjgzLDIsMjUsMnogTTM1LjgyNywxNi41NjIJTDI0LjMxNiwzMy41MjVsLTguOTk3LTguMzQ5Yy0wLjQwNS0wLjM3NS0wLjQyOS0xLjAwOC0wLjA1My0xLjQxM2MwLjM3NS0wLjQwNiwxLjAwOS0wLjQyOCwxLjQxMy0wLjA1M2w3LjI5LDYuNzY0bDEwLjIwMy0xNS4wMzYJYzAuMzExLTAuNDU3LDAuOTMzLTAuNTc1LDEuMzg5LTAuMjY2QzM2LjAxOSwxNS40ODIsMzYuMTM4LDE2LjEwNCwzNS44MjcsMTYuNTYyeiIvPjwvc3ZnPg==" />
                                
                                <p class="!text-lg !font-bold text-white" id="msg" data-flag="0"></p>
                                </div>
                                    <% if(isadmin) { %>
                                    <div class="shop__product__option__right flex ml-70">
                                    <button class="bg-black text-white p-2 rounded border">
                                        <a class="font-semibold" href="products/addproduct">
                                        + Add product
                                        </a>
                                    </button>
                                    </div>
                                    <% } else { %>
                                    <div class="shop__product__option__right flex ml-50 mt-2">
                                    <p>Sort by Price:</p>
                                    <select class="ml-2">
                                        <option value="">Low To High</option>
                                        <option value="">$0 - $55</option>
                                        <option value="">$55 - $100</option>
                                    </select>
                                    </div>
                                    <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <% products.forEach((val)=> { %>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item sale">
                                <div class="product__item__pic set-bg" data-setbg="<%= val.coverimage %>">
                                    <% if(val.offer) { %>
                                    <span class="label"><%= val.offer %></span>
                                    <% } %>
                                    <ul class="product__hover">
                                         <li class="h-11 w-11 rounded-full p-2"><a href="#" class="link">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="29" height="29" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19.071 13.142L13.414 18.8a2 2 0 0 1-2.828 0l-5.657-5.657A5 5 0 1 1 12 6.072a5 5 0 0 1 7.071 7.07"/></svg>    
                                        <span>Add to wishlist</span>
                                        </a></li>
                                        </li>
                                         <li class="h-11 w-11 rounded-full p-2"><a href="/products/viewproduct/<%= val._id %>" class="link">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="29" height="29" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><path d="M15 12a3 3 0 1 1-6 0a3 3 0 0 1 6 0"/><path d="M2 12c1.6-4.097 5.336-7 10-7s8.4 2.903 10 7c-1.6 4.097-5.336 7-10 7s-8.4-2.903-10-7"/></g></svg>
                                        <span>View product</span></a></li>
                                        <li class="h-11 w-11 rounded-full p-2 cursor-pointer" id="addtocart" data-id="<%= val._id %>">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="29" height="29" viewBox="0 0 24 24">
                                        <g fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                                            <circle cx="9.549" cy="19.049" r="1.701" />
                                            <circle cx="16.96" cy="19.049" r="1.701" />
                                            <path d="m5.606 5.555l2.01 6.364c.309.978.463 1.467.76 1.829c.26.32.599.567.982.72c.435.173.947.173 1.973.173h3.855c1.026 0 1.538 0 1.972-.173c.384-.153.722-.4.983-.72c.296-.362.45-.851.76-1.829l.409-1.296l.24-.766l.331-1.05a2.5 2.5 0 0 0-2.384-3.252zm0 0l-.011-.037a7 7 0 0 0-.14-.42a2.92 2.92 0 0 0-2.512-1.84C2.84 3.25 2.727 3.25 2.5 3.25" />
                                        </g>
                                        </svg>
                                        <span>Add to cart</span></a></li>
                                        <% if(isadmin) { %>
                                        <li class="h-11 w-11 rounded-full p-2"><a href="/products/editproduct/<%= val._id %>" class="link">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="29" height="29" viewBox="0 0 24 24"><path fill="currentColor" d="m19.71 8.04l-2.34 2.33l-3.75-3.75l2.34-2.33c.39-.39 1.04-.39 1.41 0l2.34 2.34c.39.37.39 1.02 0 1.41M3 17.25L13.06 7.18l3.75 3.75L6.75 21H3zM16.62 5.04l-1.54 1.54l2.34 2.34l1.54-1.54zM15.36 11L13 8.64l-9 9.02V20h2.34z"/></svg>
                                        <span>Edit product</span></a></li>
                                        <% } %>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h5 class="product-name"><%= val.productname %></h5>
                                    <a href="#" class="add-cart">Buy now</a>
                                    <h6><%= val.shortdescription %></h6>
                                    <h5>&#8377;<%= val.price.toLocaleString() %></h5>
                                    <div class="product__color__select">
                                        <% if (val.color && val.color.length) { %>
                                        <% val.color.forEach((color, index) => { %>
                                         <label for="pc-<%= index %>" <% if (color) { %> style="background-color:<%= color %>;" <% } %>
                                            <input type="radio" id="pc-<%= index %>" name="color" value="<%= color %>">
                                        </label>
                                        <% }); %>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </section>
<%- include('footer') %>
<script>
    $(function () {
    $('.set-bg').each(function () {
        var bg = $(this).attr('data-setbg');
        $(this).css({
              'background-image': 'url("' + bg + '")',
              'background-size': 'cover',
              'background-position': 'center',
              'background-repeat': 'no-repeat',
              'height': '260px',
            });
    });
});
    let user = "<%= uid %>"; 
    if(user == "false"){
        const btn = document.querySelectorAll("#addtocart");
        btn.forEach(val => {
            val.addEventListener("click", () => {
                const item = {
                    "user" : "",
                    "product" : val.dataset.id,
                    "quantity" : 1,
                }; 
                let storeditem = localStorage.getItem("cart");
                try {
                    storeditem = storeditem ? JSON.parse(storeditem) : [];
                } catch {
                    storeditem = [];
                }
                const exist = storeditem.find(val => val.product === item.product);
                if(exist){
                    const toast = document.getElementById("toast");
                    const p = document.getElementById("msg");
                    if(p.dataset.flag == 0){
                        p.dataset.flag = 1;
                    }
                    if(p.dataset.flag == 1){
                    document.getElementById("msg").innerText = "Already in cart";
                    }

                    setTimeout(() => {
                    toast.classList.remove("opacity-0");
                    toast.classList.add("opacity-100");
                    }, 300);

                    setTimeout(() => {
                    toast.classList.remove("opacity-100");
                    toast.classList.add("opacity-0");
                    }, 1000);
                }else{
                const newitem = [...storeditem, item];
                localStorage.setItem("cart", JSON.stringify(newitem));
                const toast = document.getElementById("toast");
                const p = document.getElementById("msg");

                if(p.dataset.flag == 1){
                    p.dataset.flag = 0;
                }
                if(p.dataset.flag == 0){
                    document.getElementById("msg").innerText = "Added to cart";
                }

                setTimeout(() => {
                toast.classList.remove("opacity-0");
                toast.classList.add("opacity-100");
                }, 300);

                setTimeout(() => {
                toast.classList.remove("opacity-100");
                toast.classList.add("opacity-0");
                }, 1000);
                }
            });
        });
    }else{
        async function synccart(){
        let localcart = JSON.parse(localStorage.getItem("cart"));
                if(localcart.length > 0){
                    let res = await fetch(`/getusercart`, { method: 'GET', });
                let existingcart = await res.json();
                localcart.forEach(async (dat) => {
                let find = existingcart.find(p => p.product === dat.product);
                if(!find){
                const response = await fetch(`/addtocart/${dat.product}`,{
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({
                    "user" : "",
                    "product" : dat.product,
                    "quantity" : 1,
                })
                });
                localStorage.removeItem("cart");
                }
                });
        }
    };
    synccart();
        const btn = document.querySelectorAll("#addtocart");
        btn.forEach(val => {
            val.addEventListener("click", async () => {
            let data = [];
            let res = await fetch(`/getusercart/`, { method: 'GET' });
            let existingcart = await res.json();
            let exist = existingcart.find(p => p.product === val.dataset.id);
            if(exist){
                const toast = document.getElementById("toast");
                const p = document.getElementById("msg");
                if(p.dataset.flag == 0){
                    p.dataset.flag = 1;
                }
                if(p.dataset.flag == 1){
                document.getElementById("msg").innerText = "Already in cart";
                }

                setTimeout(() => {
                toast.classList.remove("opacity-0");
                toast.classList.add("opacity-100");
                }, 300);

                setTimeout(() => {
                toast.classList.remove("opacity-100");
                toast.classList.add("opacity-0");
                }, 1000);
            }else{
                const response = await fetch(`/addtocart/${val.dataset.id}`,{
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({
                    "user" : "",
                    "product" : val.dataset.id,
                    "quantity" : 1,
                })
                });
                const toast = document.getElementById("toast");
                const p = document.getElementById("msg");

                if(p.dataset.flag == 1){
                    p.dataset.flag = 0;
                }
                if(p.dataset.flag == 0){
                    document.getElementById("msg").innerText = "Added to cart";
                }

                setTimeout(() => {
                toast.classList.remove("opacity-0");
                toast.classList.add("opacity-100");
                }, 300);

                setTimeout(() => {
                toast.classList.remove("opacity-100");
                toast.classList.add("opacity-0");
                }, 1000);
            }
            });
        });
    }
</script>  